@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Montserrat:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.highlight {
  color: #0077B6;
}

.section-title {
  color: #1D1F1F;
  font-family: Barlow, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  margin: 0 0 40px;
}

.section-title.light-text {
  color: #DDEEFF;
}

.content-title {
  color: #000;
  font-family: Barlow, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin: 0;
}

.content-description {
  color: #000;
  font-family: Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
}
