.site-footer {
  background: #00013B;
  padding: 60px 0;
  padding-bottom: 30px;
}

.footer-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 150px;
}

.footer-content {
  display: grid;
  justify-content: space-between;
  grid-template-areas: "lef lef lef emp emp rgt rgt rgt";

}

.footer-left {
  grid-area: lef;
}

.footer-right {
  grid-area: rgt;
}

.footer-title {
  color: #FFF;
  font-family: Barlow, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 1.7em;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.footer-description {
  color: #FFF;
  font-family: Barlow, -apple-system, Roboto, Helvetica, sans-serif;  
  font-size: 1.1em;
  font-weight: 300;
  line-height: normal;
  max-width: 100%;
  margin: 0;
}
.social-icons {
  display: flex;
  gap: 25px;
  margin-top: 35px;
}

.social-icon {
  color: #fff;
  transition: opacity 0.3s ease;
}

.social-icon:hover {
  opacity: 0.7;
}


.contact-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  color: #FFF;
  font-family: Barlow, -apple-system, Roboto, Helvetica, sans-serif;  
  font-size: 1.1em;
  font-weight: 300;
}

.contact-icon {
  width: 27px;
  height: 24px;
  flex-shrink: 0;
  margin-top: 2px;
}

.footer-divider {
  width: 100%;
  height: 1px;
  background: #FFF;
  margin: 20px 0;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  color: #FFF;
  font-family: Barlow, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin: 0;
}

.footer-links {
  display: flex;
  gap: 60px;
}

.footer-link {
  color: #FFF;
  font-family: Barlow, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #0077B6;
}

@media (max-width: 1200px) {
  .footer-container {
    padding: 0 50px;
  }
  
  .footer-content {
    flex-direction: column;
    gap: 40px;
  }
}

@media (max-width: 768px) {
  .footer-container {
    padding: 0 30px;
  }
  .footer-content {
    grid-template-areas: "lef lef lef lef" 
                          "rgt rgt rgt rgt";

  }

  .footer-divider {
    margin: 50px 0 20px;
  }
  
  .footer-bottom {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .copyright {
    font-size: .9em;
  }
  
  .footer-link {
    gap: 30px;
    font-size: .9em;
  }
}
