.site-header {
  padding: 30px 0;
  position: relative;
  z-index: 100;
}

.header-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 120px;
  height: auto;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.hamburger span {
  width: 26px;
  height: 3px;
  background: #000;
  border-radius: 2px;
  transition: all 0.35s ease;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-51deg) translate(7px, -6px);
}

.main-nav {
  display: flex;
  gap: 72px;
  align-items: center;
}

.nav-link {
  color: #000;
  font-family: Barlow, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
  padding-bottom: 4px;
  overflow: hidden;
  display: inline-block;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 4px;
  background-color: #0077b6;
  border-radius: 2px;
  transition: width 0.35s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link.active::after {
  width: 100%;
}


.contact-dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown menu */
.dropdown-menu {
  position: absolute;
  top: 110%;
  right: 2%;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  display: none;
  min-width: 180px;
  overflow: hidden;
  z-index: 10;
}

.contact-dropdown:hover .dropdown-menu {
  display: block;
}

/* Dropdown items */
.dropdown-menu a {
  display: block;
  padding: 12px 15px;
  color: #333;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
}

.dropdown-menu a:hover {
  background: #f0f0f0;
}


.contact-btn {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background: #03045E;
  color: #FFF;
  font-family: Barlow, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact-btn:hover {
  background: #0077B6;
}

@media (max-width: 1200px) {
  .header-container {
    padding: 0 30px;
  }
  
  .main-nav {
    gap: 40px;
  }
  
  .nav-link {
    font-size: 20px;
  }
}

@media (max-width: 1100px) {
  .main-nav {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    background: #ddeeff;
    flex-direction: column;
    padding: 30px 0;
    display: none;
  }

  .main-nav.show {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}

/* @media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    gap: 20px;
  }
  
  .main-nav {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .nav-link {
    font-size: 18px;
  }
} */
