.home-page {
  background: #fff;
}

.hero-section {
  position: relative;
  padding: 0 0 120px;
  overflow: hidden;
  /* background-image: url('../assets/bkg.png'); */
}

.hero-background {
  position: absolute;
  top: -941px;
  left: -667px;
  width: 3008px;
  height: 1692px;
  transform: rotate(-63.76deg);
  z-index: 0;
}

.hero-bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  position: relative;
  z-index: 1;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 80px 50px;
}

.hero-title {
  color: #000;
  font-family: Barlow, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 3.5em;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 40px;
}

.hero-title .highlight {
  color: #0077b6;
}

.hero-description {
  max-width: 885px;
  margin: 0 auto 100px;
  color: #000;
  text-align: center;
  font-family: Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 30px;
}

.hero-images {
  display: flex;
  justify-content: center;
  gap: 34px;
  flex-wrap: wrap;
}

.hero-image {
  width: 300px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.services-section {
  padding: 80px 150px;
  background: #00013B;
}

.home-section-title {
  color: #ddeeff;
  font-family: Barlow, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 2.5em !important;
  font-weight: 700;
  text-align: center;
  margin: 0 0 50px !important;
  text-align: center;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  max-width: 1560px;
  margin: 0 auto;
  gap: 62px;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
}

.service-card {
  padding: 42px 31px;
  border-radius: 15px;
  background: #ddeeff;
}

.service-card:hover {
  opacity: 1;
  transform: translateY(-5px);
}

.service-title {
  color: #000;
  font-family: Barlow, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  margin: 0 0 20px;
}

.service-description {
  color: #000;
  font-family: Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 30px;
  margin: 0 0 20px;
}

.service-link {
  color: #0077b6;
  font-family: Barlow, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.service-link:hover {
  color: #03045e;
}

.why-choose-section {
  position: relative;
  padding: 100px 50px;
}

.why-choose-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.why-choose-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.why-choose-content {
  position: relative;
  z-index: 1;
  max-width: 1400px;
  margin: 0 auto;
}

.reasons-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 50px;
  margin-top: 60px;
}

.reason-item:nth-child(4) {
  grid-column: 1 / 3;
  grid-row: 2;
  justify-self: center;
  max-width: 350px;
}
.reason-item:nth-child(5) {
  grid-column: 2 / 4;
  grid-row: 2;
  justify-self: center;
  max-width: 350px;
}

.reason-item {
  display: flex;
  gap: 30px;
  align-items: center;
}

.reason-step-title {
  color: #000;
  font-family: Barlow, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 5px;
}

.reason-number {
  color: #0077b6;
  font-family: "Helvetica Neue", -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 4em;
  font-weight: 700;
}

.reason-text {
  color: #000;
  font-family: Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 400;
  margin: 0;
  justify-items: center;
}

.mission-section {
  padding: 50px 150px;
  padding-bottom: 0;
  background: #ddeeffb3;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.mission-content {
  max-width: 855px;
  /* margin: 0 auto; */
}

.mission-title {
  color: #1d1f1f;
  font-family: Barlow, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  margin: 0 0 40px;
}

.mission-text {
  color: #000;
  font-family: Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 35px;
  margin: 0;
}

.quote-mark {
  color: #0077b6;
}

.stats-bars {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 20px;
  margin: 0 auto;
  height: 468px;
}

.stat-bar {
  width: 60px;
  background: #5f5f5f;
}

.bar-1 {
  height: 153px;
}

.bar-2 {
  height: 268px;
}

.bar-3 {
  height: 368px;
  background: #0077b6;
}

@media (max-width: 1200px) {
  .hero-title {
    font-size: 56px;
  }

  .services-grid {
    grid-template-columns: 1fr;
  }
  .reasons-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  }
  .reason-item:nth-child(4),
  .reason-item:nth-child(5) {
    grid-column: auto;
    grid-row: auto;
    max-width: 100%;
    justify-self: start;
  }
}


@media (max-width: 768px) {
  .hero-title {
    font-size: 40px;
  }

  .hero-description {
    font-size: 18px;
  }
  .services-section {
    padding: 50px 80px;
  }

  .home-section-title,.section-title {
    font-size: 2em;
  }

  .mission-section {
    padding: 50px;
  }
}

@media (max-width: 620px) {
  .hero-content {
    padding: 50px;
  }
  .services-section {
    padding: 50px;
  }
}
