.privacy-header {
  padding: 16px 50px;
  /* border-bottom: 1px solid #eee; */
}

.privacy-logo img {
  width: 150px;
  height: auto;
}

.privacy-content {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
  line-height: 1.7;
}

.privacy-content h1 {
  margin-bottom: 10px;
  font-family: Barlow, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 2.5em;
  font-weight: 700;
}

.updated-date {
  color: #777;
  font-size: 0.9rem;
  margin-bottom: 30px;
}

.privacy-content h2 {
  margin-top: 30px;
  font-family: Barlow, -apple-system, Roboto, Helvetica, sans-serif;
}

.privacy-content ul {
  padding-left: 20px;
}

.privacy-content ul li {
  font-family: Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 600px) {
  .privacy-content {
    padding: 0 30px;
  }
}
